---
# tasks file for webserver-todo-php
- name: get EPEL-key
  rpm_key:
    state: present
    key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-7

- name: Install epel repo.
  yum:
    name: "https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm"
    state: present

- name: get remi_repo_gpg_key
  rpm_key:
    state: present
    key: https://rpms.remirepo.net/RPM-GPG-KEY-remi

# - name: check
#   debug: 
#     var: "{{ ansible_distribution_major_version }}"

- name: Install remi repo.
  yum:
    name: "http://rpms.remirepo.net/enterprise/remi-release-7.rpm"
    state: present

- name: Enable DNF module
  command: dnf module enable -y php:{{ php_version }}

- name: install packages and repositories
  package:
    name: "{{ item }}"
    state: present
  loop:
    - zip
    - httpd
    - mysql
    - php
    - php-cli
    - php-fpm
    - php-mysqlnd
    - php-zip
    - php-gd
    - php-mbstring
    - php-xml
    - php-common

# - name: start and enable services
#   service:
#     name: php-fpm
#     state: started
#     enabled: yes
#   # notify:
#   #   - restart apache


# get php-todo-artifact
- name: php-todo artifact
  ansible.builtin.get_url:
    url: http://3.141.200.246:8082/artifactory/php-todo/php-todo.zip
    dest: /home/ec2-user/zip-files/
    username: "{{ artifactory_username }}"
    password: "{{ artifactory_password }}"

- name: unzip artifact
  ansible.builtin.unarchive:
    src: /home/ec2-user/zip-files/php-todo.zip
    dest: /home/ec2-user/
  
- name: move code to /var/www/html directory
  command: cp -r /home/ec2-user/var/lib/jenkins/workspace/{{ item }} /var/www/html/
  with_items:
    - "php-todo_main"

# - name: edit db connection
#   shell: |
#     cd /var/www/html/php-todo_main/ ; php artisan migrate

- name: Touch file
  ansible.builtin.file:
    path: /var/www/html/.env
    state: touch
    mode: '0644'
    owner: root
    group: root

- name: template file
  ansible.builtin.template:
    src: ".env.sample"
    dest: /var/www/html/.env